*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.country-page{
  background: linear-gradient(90deg , #eeddff 30% , #eeeeee 100%);
  height: 100vh;
  .container{
    max-width: 1300px;
    padding: .1rem .1rem ;
    .row {
      display: grid;
      grid-template-columns: 1fr  1fr;
      gap: 3rem;
      figure {
        img {
          width: 100%;
        }
      }
      .right-column{
        padding: 1rem 2rem;
        color : #fff;
      }
    }
  }
}